.hero-section {
  background: linear-gradient(90deg, $dark-overlay 0%, $light-overlay 95%),
    url($images-path + "hero-image.png") no-repeat center/cover;
  color: $white;
  padding: 4.5rem 0 3.8rem;

  &__text {
    padding-left: 2.1rem;
  }

  &__title {
    @include line-clamp(4);
    max-width: 24rem;
  }
  &__details {
    @include line-clamp(8);
    margin-top: 1.3rem;
    max-width: 24rem;
  }
  &__consult {
    @include flex(flex-start, center);
    margin-top: 2.3rem;
    color: $white;
  }
  &__angle-right {
    @include font(2.1rem);
    padding-top: 0.3rem;
    margin-left: 0.5rem;
  }

  @include breakpoint($tablet-min) {
    padding: 10.5rem 0 10rem;
    background-size: 131rem;
    background-position: center left -14rem;
    &__text {
      padding-left: 3rem;
    }
    &__title {
      max-width: 34.8rem;
    }
    &__details {
      margin-top: 1.1rem;
      max-width: 34.5rem;
    }
  }
  @include breakpoint($desktop-sm-min) {
    padding: 8.75rem 0 9rem;
    background-size: cover;
    background-position: center;
    &__text {
      padding-left: 4.1rem;
    }
    &__title {
      max-width: 45.4rem;
    }
    &__details {
      margin-top: 1.25rem;
      max-width: 47rem;
    }
    &__consult {
      margin-top: 3.5rem;
    }
  }
  @include breakpoint($desktop-lg-min) {
    padding: 20rem 0 19.5rem;
    &__text {
      padding-left: 11.7rem;
    }
    &__title {
      max-width: 60rem;
    }
    &__details {
      margin-top: 2.2rem;
      max-width: 59.3rem;
    }
  }
}
