.revenue {
  box-shadow: 0 0.5rem 1.6rem 0 $dark-overlay-2;
  background: linear-gradient(
      to right,
      $revenue-grad-1 100%,
      $revenue-grad-2 100%
    )
    no-repeat top/100%;
  &__content {
    @include flex($align-items: flex-start, $direction: column);
    color: $white;
    padding: 4.4rem 2rem 5rem;
  }
  &__heading {
    &-title {
      max-width: 27rem;
    }
    &-details {
      @include line-clamp(4);
      margin: 1rem 0 0;
    }
    .icon-slanting {
      &::before {
        display: none;
      }
    }
    &-learn-more {
      @include flex(flex-start, center, $direction: row);
      @include font(1.3rem, 700);
      color: $white;
      margin-top: 2.2rem;
    }
    &-angle-right {
      @include font(1.5rem);
      margin-left: 1.8rem;
    }
  }
  &__body {
    @include flex($direction: column);
  }
  @include breakpoint($tablet-min) {
    &__content {
      @include flex($direction: row);
      padding: 0 3rem;
    }
    &__heading {
      max-width: 21.6rem;
      padding-top: 5rem;
      &-details {
        @include line-clamp(7);
        max-width: 21.4rem;
        margin-top: 1.5rem;
      }
      &-learn-more {
        margin-top: 3.2rem;
      }
    }
    &__body {
      flex: 2 0 auto;
      flex-wrap: wrap;
      max-height: 75rem;
      margin: 5rem 3rem;
    }
  }
  @include breakpoint($desktop-sm-min) {
    &__content {
      @include flex($direction: row);
      padding: 0 4.1rem;
    }
    &__heading {
      max-width: 29.1rem;
      padding-top: 6.5rem;
      &-details {
        @include line-clamp(7);
        max-width: 29.1rem;
        margin-top: 2.1rem;
      }
      &-learn-more {
        @include font(1.6rem, 700);
        margin-top: 3.7rem;
      }
      &-angle-right {
        @include font(2rem);
        padding-top: 0.3rem;
      }
    }
    &__body {
      margin: 6rem 3.6rem 1.2rem;
      max-height: 69.1rem;
    }
  }
  @include breakpoint($desktop-lg-min) {
    &__content {
      @include flex($direction: row);
      padding: 0 11.9rem;
    }
    &__heading {
      max-width: 37rem;
      padding-top: 7.5rem;
      &-title {
        max-width: 31rem;
      }
      &-details {
        @include line-clamp(7);
        max-width: 37rem;
        margin-top: 2.6rem;
        padding-left: 3.6rem;
      }
      &-learn-more {
        padding-left: 3.6rem;
      }
      .icon-slanting {
        &::before {
          display: block;
        }
      }
    }
    &__body {
      margin: 7.5rem 4.6rem 0.7rem;
      max-height: 73.9rem;
    }
  }
}
