.revenue {
  &__card {
    max-width: 34.4rem;
    margin-top: 2.8rem;
  }
  &__card-icon {
    color: $orange;
    @include font(3rem);
  }
  &__card-heading {
    @include line-clamp(2);
    max-width: 14rem;
    margin-top: 0.9rem;
  }
  &__card-details {
    max-width: 27rem;
    margin-top: 0.8rem;
  }
  @include breakpoint($phone-mid) {
    &__card-details {
      max-width: 100%;
    }
  }
  @include breakpoint($tablet-min) {
    &__card {
      max-width: 21.6rem;
      margin: 0.3rem 0 3rem;
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 5;
      }
      &:nth-child(4) {
        order: 2;
      }
      &:nth-child(5) {
        order: 4;
      }
      &:nth-child(6) {
        order: 6;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 3rem;
      }

      &:nth-child(3),
      &:nth-child(6) {
        margin-bottom: 0;
      }
    }
    &__card-heading {
      max-width: 16rem;
      margin-top: 0;
    }
    &__card-icon {
      @include font(3.5rem);
    }
  }
  @include breakpoint($desktop-sm-min) {
    &__card {
      max-width: 29.1rem;
      margin-top: 0;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 3.3rem;
      }
    }
    &__card-heading {
      max-width: 16rem;
    }
    &__card-details {
      margin-top: 0.9rem;
    }
  }
  @include breakpoint($desktop-lg-min) {
    &__card {
      max-width: 37rem;
      margin-bottom: 5rem;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin-right: 4.8rem;
      }
    }
    &__card-icon {
      @include font(4rem);
    }
    &__card-heading {
      max-width: 19rem;
    }
  }
}
