// all breakpoint widths
$phone-min: 320px;
$phone-max: 384px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-sm-min: 1025px;
$desktop-sm-max: 1439px;
$desktop-lg-min: 1440px;
$desktop-lg-max: 1800px;

$grey: #65666b;
$white: #fff;
$black: #000;

$shadow-color: rgba(0, 0, 0, 0.129);
$border-color: #bcbcbc;
$navmenu-bg-color: #f8f8f8;

//font families
$font-roboto: "Roboto";
$font-halvetica: "Halvetica Neue";
