@font-face {
  font-family: "rignet";
  src: url("../assets/icon-fonts/rignet.eot");
  src: url("../assets/icon-fonts/rignet.eot?#iefix") format("embedded-opentype"),
    url("../assets/icon-fonts/rignet.woff") format("woff"),
    url("../assets/icon-fonts/rignet.ttf") format("truetype"),
    url("../assets/icon-fonts/rignet.svg#rignet") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "rignet" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rignet" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tower:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\66";
}
.icon-network:before {
  content: "\69";
}
.icon-vimeo:before {
  content: "\6c";
}
.icon-chart-graph:before {
  content: "\6d";
}
.icon-chart-line:before {
  content: "\6e";
}
.icon-square-arrow:before {
  content: "\6f";
}
.icon-hands:before {
  content: "\70";
}
.icon-money:before {
  content: "\71";
}
.icon-refresh:before {
  content: "\72";
}
.icon-eye:before {
  content: "\73";
}
.icon-hamburgur:before {
  content: "\67";
}
.icon-angle-right:before {
  content: "\65";
}
.icon-linkedin:before {
  content: "\62";
}
.icon-cross:before {
  content: "\64";
}
.icon-slanting {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 3.4rem;
    width: 0.8rem;
    border: 0.2rem solid $white;
    top: 0.5rem;
    left: 0.6rem;
    transform: skew(155deg);
  }
}
.icon-blank {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: $white;
  margin-bottom: 0.7rem;
}
