@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: $font-roboto;
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: $font-halvetica;
  src: url("../assets/fonts/Helvetica-Neue-Font/Helvetica Neue Medium Extended/Helvetica Neue Medium Extended.ttf");
}
html {
  font-size: 62.5%;
}
* {
  font-family: $font-roboto, sans-serif;
}

h1 {
  @include font(3.2rem, 700, 3.6rem, 0.09rem);
  @include breakpoint($tablet-min) {
    @include font(4.8rem, 700, 5.2rem, 0.14rem);
  }
  @include breakpoint($desktop-sm-min) {
    @include font(5.2rem, 700, 5.5rem, 0.14rem);
  }
  @include breakpoint($desktop-lg-min) {
    @include font(5.6rem, 700, 6rem, 0.15rem);
  }
}
p {
  &.para-lg {
    @include font(1.6rem, $height: 2.1rem);
    @include breakpoint($tablet-min) {
      @include font(1.7rem, $height: 2.5rem);
    }
    @include breakpoint($desktop-sm-min) {
      @include font(2rem, $height: 2.6rem);
    }
  }
  &.para-lg-var-1 {
    @include font(1.6rem, $height: 2rem);
    @include breakpoint($desktop-sm-min) {
      @include font(1.7rem, $height: 2.3rem);
    }
  }
  &.para-sm {
    @include font(1.3rem, $height: 1.8rem);
    @include breakpoint($tablet-min) {
      @include font(1.4rem, $height: 1.9rem);
    }
  }
}
.font-schedule {
  @include font(1.2rem, $height: 1.7rem);
  font-family: $font-halvetica;
  @include breakpoint($tablet-min) {
    @include font(1.3rem, $height: 1.9rem);
  }
  @include breakpoint($desktop-sm-min) {
    @include font(1.3rem, $height: 2rem);
  }
}
h2 {
  @include font(2.3rem, 700, $height: 2.7rem);
  @include breakpoint($tablet-min) {
    @include font(2.6rem, 700, $height: 2.8rem);
  }
  @include breakpoint($desktop-sm-min) {
    @include font(3rem, 700, $height: 3.4rem);
  }
  @include breakpoint($desktop-lg-min) {
    @include font(3.8rem, 700, $height: 4rem);
  }
}
h3 {
  @include font(1.5rem, 700, $height: 1.9rem);
  @include breakpoint($tablet-min) {
    @include font(1.6rem, 700, $height: 1.8rem);
  }
  @include breakpoint($desktop-sm-min) {
    @include font(1.6rem, 700, $height: 2rem);
  }
  @include breakpoint($desktop-lg-min) {
    @include font(2rem, 700, $height: 2.4rem);
  }
}
h4 {
  @include font(1.6rem, $wt: 700, $height: 1.8rem);
  @include breakpoint($tablet-min) {
    @include font(1.8rem, $wt: 700, $height: 2.1rem);
  }
  @include breakpoint($desktop-sm-min) {
    @include font(2rem, $wt: 700, $height: 2.3rem);
  }
  @include breakpoint($desktop-lg-min) {
    @include font(2.4rem, $wt: 700, $height: 2.8rem);
  }
}
