.shadow-at-bottom {
  box-shadow: 0 0.8rem 0.6rem -0.6rem $shadow-color-12;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.disable-scroll {
  height: 100%;
  overflow: hidden;
}
.block-text {
  display: block;
}
